.navbar__wrapper{
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #a8a7a7;
    }

.navbar__linksItem{
     padding: 0 2vw;
     color: white;
    
}
.navbar__active{
    color: rgb(235, 112, 112);
}
.navbarLinks{
    
}